.header {
    width: 100%;
    height: 65px;
    font-family: "SF Pro Display", serif;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
}

.logo {
    height: 65px;
    width: 197px;
}

@media (min-width: 1152px) {
    .header {
        background-color: #2A2F45;
    }
}